.grid-container {
    display: grid;
    /* Hint: To change layout of grid look at
    line 5 */
    grid-template-columns: auto;
    padding: 10px;
}


#mybutton{
    height: 50px;
    width: 75px;
} 
#txtLogo{
     height: 230px;
     width: 360px;
}

.grid-item{
    text-align: center;
        border: 3px solid black;
}

